<div class="content">

  <div class="top">
    <div class="title">
      <h1 class="title_word">Taiki's Portfolio</h1>
    </div>
  </div>

  <h2>about this site</h2>
  <div class="ats_content">
    <div class="ats_content_show">
      <p>こんにちは！</p>
      <div class="space"></div>
      <p>このサイトは僕、野田大貴が身につけたこと、製作物などをまとめたサイトです!</p>
      <div class="space"></div>
      <p>ゆーっくり眺めていってくださいね！</p>
    </div>
  </div>

  <h2>works</h2>
  <div class="grid">
    <% @works.each do |work| %>
      <div>
        <div class="work_img">
          <%= link_to image_tag(work.image, class:"work_img"), work_path(work.id) %>
        </div>
        <div class="info">
          <%= work.title %>
        </div>
      </div>
    <% end %>
  </div>

  <h2>skills</h2>
  <div class="space"></div>
  <div class="langs">
    <div class="front">
      <h3>Front-end</h3>
      <%= bar_chart Language.where(kind: "Front").group(:langage).sum(:point), max: 100 %>
    </div>
    <div class="back">
    <h3>Back-end</h3>
      <%= bar_chart Language.where(kind: "Back").group(:langage).sum(:point), max: 100 %>
    </div>
    <div class="other">
      <h3>DevOps</h3>
      <%= bar_chart Language.where(kind: "DevOps").group(:langage).sum(:point), max: 100 %>
    </div>
  </div>

  <h2>profile</h2>
  <div class="space"></div>
  <p class="name">名前：　野田大貴</p>
  <div class="space"></div>
    <div class="right_pro">
      <p class="info_right fadein_left">1994年/横浜で生まれる</p>
        <div class="space"></div>
        <div class="w_content fadein_right">
          <div class="v_line_fix"></div>
          <p class="infos_info"></p>
        </div>
      <p class="info_right fadein_left">2001年/小学生時代</p>
        <div class="space"></div>
        <div class="w_content fadein_right">
          <div class="v_line_fix"></div>
          <p class="infos_info">毎週のように家族でアウトドアに行く、超アウトドア一家。土日の記憶はキャンプか釣りか登山のどれか...笑</p>
        </div>
      <p class="info_right fadein_left">2007年/中学生時代</p>
        <div class="space"></div>
        <div class="w_content fadein_right">
          <div class="v_line_fix"></div>
          <p class="infos_info">吹奏楽部でクラリネットを担当。たまにサックスもやってました。</p>
        </div>
      <p class="info_right fadein_left">2010年/高校時代</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <div class="v_line_fix"></div>
          <p class="infos_info">【神奈川県立鎌倉高校】<br>音楽にハマっていて軽音楽部でギターとベースして部長もやりました。遊びすぎて成績が落ちていきました...笑</p>
        </div>
      <p class="info_right fadein_left">2013年/大学時代</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <div class="v_line_fix"></div>
          <p class="infos_info">【横浜市立大学】<br>有機化学創薬研究室で抗がん剤治療薬の創薬研究をしました。研究室の休みの日は研究室メンバーでキャンプに行ったり釣りに行ったりして息抜きしてました。</p>
        </div>
      <p class="info_right fadein_left">2019年/化粧品メーカー時代</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <div class="v_line_fix"></div>
          <p class="infos_info">今思えば自分の能力不足でしかないのだが、時間もお金もない状態でストレスをためているだけで結構きつかった。その反動もあって...</p>
        </div>
      <p class="info_right fadein_left">2019年/タクシードライバー時代</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <div class="v_line_fix"></div>
          <p class="infos_info">コロナもあり大変ですけど、時間の自由が格段に増えたこと、収入も大幅に増えたこと。なにより、何か新しいことをはじめたいと思うことが増えました。</p>
        </div>
      <p class="info_right fadein_left">2021年/プログラミング学習開始</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <div class="v_line_fix"></div>
          <p class="infos_info">自動運転、配車アプリを目に前にして一生タクシードライバーはきついだろうなと思い。閃いたわけです。「そうか、配車アプリとか、webサービス作る側に回ろう！」と...笑</p>
        </div>
    </div>
    <div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div>

</div>

