<div class="content">

  <div class="top">
    <div class="title">
      <h1 class="title_word">Taiki's Portfolio</h1>
    </div>
  </div>

  <h2>works/learning</h2>
  <div class="grid">
    <% @posts.each do |post| %>
      <div class="card">
        <div class="total_info">
          <div class="info">
            <%= post.title %>
          </div>
          <div class="sub_info">
            [ <%= post.sub_title %> ]
          </div>
        </div>
        <a class ="Link" href="/posts/<%=post.id%>"></a>
      </div>
    <% end %>
  </div>
  <div class="space"></div><div class="space"></div>

  <h2>skills</h2>
  <div class="space"></div>
  <div class="langs">
    <div class="front">
      <h3>Front-end</h3>
      <%= bar_chart Language.where(kind: "Front").group(:langage).sum(:point), max: 100 %>
    </div>
    <div class="back">
    <h3>Back-end</h3>
      <%= bar_chart Language.where(kind: "Back").group(:langage).sum(:point), max: 100 %>
    </div>
    <div class="other">
      <h3>DevOps</h3>
      <%= bar_chart Language.where(kind: "DevOps").group(:langage).sum(:point), max: 100 %>
    </div>
  </div>
  <div class="space"></div><div class="space"></div>

  <h2>profile</h2>
  <div class="space"></div>
  <p class="name fadein_right">名前：　野田大貴</p>
  <div class="space"></div>
  <%= image_tag("image.png", class:"profile_img fadein_left") %>
  <div class="space"></div>
    <div class="right_pro">
      <p class="info_right fadein_left">1994年/横浜生まれ</p>
        <div class="space"></div>
        <div class="w_content fadein_right">
          <p class="infos_info">横浜で生まれて、父、祖父に、釣りにキャンプに登山に連れまわされるという幸せ。レゴも好きでしたねー、笑</p>
        </div>
      <p class="info_right fadein_left">2001年/小学生時代</p>
        <div class="space"></div>
        <div class="w_content fadein_right">
          <p class="infos_info">毎週のように家族でアウトドアに行く、超アウトドア一家。土日の記憶はキャンプか釣りか登山のどれか...笑</p>
        </div>
      <p class="info_right fadein_left">2007年/中学生時代</p>
        <div class="space"></div>
        <div class="w_content fadein_right">
          <p class="infos_info">吹奏楽部でクラリネットを担当。コンクール直前に足の骨を折って出られなったのも思い出の1つ。やんちゃしたなぁ笑</p>
        </div>
      <p class="info_right fadein_left">2010年/高校時代</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <p class="infos_info">【神奈川県立鎌倉高校】<br>音楽にハマっていて軽音楽部でギターとベースして部長もやりました。遊びすぎて成績が落ちていきました...笑</p>
        </div>
      <p class="info_right fadein_left">2013年/大学時代</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <p class="infos_info">【横浜市立大学】<br>有機化学創薬研究室で抗がん剤治療薬の創薬研究をしました。研究室の休みの日は研究室メンバーでキャンプに行ったり釣りに行ったりして息抜きしてました。</p>
        </div>
      <p class="info_right fadein_left">2019年/化粧品メーカー時代</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <p class="infos_info">
          ■ 主な担当<br>
          ・ヘアサロンをはじめとする美容系サロンへの法人営業（新規90%　 既存10%）<br>
          ・自社製品勉強会の企画、運営　<br><br>

          ■ 成果、工夫した点<br>
          ①2019年：新規のサロン獲得件数目標が月1件に対し、4ヶ月で15件の獲得を達成<br>
          1回の訪問の質を高めるべく、伺った際には必ずメッセージカードを持参し、各サロン様にあわせたメッセージを記載した上で、お渡ししていました。<br>

          ②slackの導入の提案<br>
          営業所に配属された当初、他グループの状況などがわかりづらく、コミュニケーションが取りづらい状況でした。そこでSlackの導入を提案し、他グループとのやり取りを円滑にすることができました。<br>

          ③サロン様向け商品勉強会の工夫<br>
          従来のサロン様向け商品勉強会では、主に商品の内容成分の希少性や効果についてのプレゼンテーションがメインでした。しかし、私が行った商品勉強会では主に、使用することで得られるライフスタイルを中心にプレゼンテーションを行いました。結果としてサロンスタッフさんの商品使用率向上と、サロンのお客様の商品使用率の向上を促すことができ、サロン様の売上と会社の売上、さらにはエンドユーザー様の将来への貢献が出できました。<br>
          </p>
        </div>
      <p class="info_right fadein_left">2019年/タクシードライバー時代</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <p class="infos_info">
          ■ 成果、工夫した点<br>
          ①超長距離顧客確保のための車内営業<br>
          長距離移動の際に継続してご利用頂けるよう、車内にて積極的に営業を行い、売上に貢献しています。<br>
          ②超長距離顧客確保のための法人営業の提案<br>
          都心の大手企業様への法人営業を社長に提案しました。その後、大手企業様2社との契約が決定し、夜間におけるタクシー移動の経費削減に貢献しています。<br>
          ③より多くのお客様をお乗せするための工夫<br>
          時間帯、走行レーン、走行方向、信号、タクシー密度、イベントの有無、無線などを意識し、より多くのお客様の送迎ができるように心がけました。</p>
        </div>
      <p class="info_right fadein_left">2021年/プログラミング学習開始</p>
      <div class="space"></div>
        <div class="w_content fadein_right">
          <p class="infos_info">
          学生の時にfxの自動売買プログラミングを作成したことがきっかけで興味を持ちました。現在はタクシードライバーですが、1日あたり40組程のお客様の移動に貢献しています。それに対しタクシーに搭載されている配車アプリは1日あたり数万組以上ものお客様の移動に貢献しています。それを実現している存在がエンジニアと知り、私もプログラミングでサービスを作成し貢献したいと思い転職を決意しました。<br>
          そこでプログラミングを学ぶ為に、オンライン学習ができるTechCampとudemyを始めました。TechCampではrailsを用いたwebサービスの開発を、udemyではreactとgoを学んでいます。<br>
          アプリ作成中に生じるエラーやトラブルを解決するためにトライアンドエラーを繰り返すこと、そして新しい言語を勉強し、できることが増えることに成長を感じ楽しんでいます。<br>
          将来は、エンジニアとしてサービスを作成し、そのサービスを取り巻く全ての人を笑顔にできるようなエンジニアになりたいと考えています。そのためにも、これまでのBtoB, BtoCの経験を生かし、サービス管理者と利用者を意識したサービス開発ができるフルスタックエンジニアを目指します。<br>
          </p>
        </div>
    </div>
    <div class="space"></div><div class="space"></div>

    <h2>output</h2>
    <div class="space"></div>
    <div class="outputs">
      <div class="output">
        <a href="https://twitter.com/Kii_Program">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div class="output">
        <%= link_to image_tag("favicon.png", class:"qiita_img"), "https://qiita.com/taiki-nd" %>
      </div>
      <div class="output">
        <a href="https://github.com/taiki-nd">
          <i class="fab fa-github-square"></i>
        </a>
      </div>
    </div>
    <div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div>

</div>

