<!DOCTYPE html>
<html>
  <head>
    <title>TnPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
  <% if content_for?(:body_attributes) %>
    <%= yield(:body_attributes) %>
  <% end %>

  <header id="header">
      
    <div class="heading" id="heading_id">
      <%= link_to "Taiki's Portfolio", "/" %>
    </div>
    
    <div class="none">
      <%# if user_signed_in? %>
        <div class="current_user">
          <%#user :   <%= link_to current_user.name, "/users/#{current_user.id}", class: 'user_name' %>
        </div>
      <%# else %>
        <div class="current_user">
          
        </div>
      <%# end %>
    </div>
  </header>

  <div class="back">
    <%= yield %>
  </div>

  <footer>
  <h2>output</h2>
    <div class="space"></div>
    <div class="outputs">
      <div class="output">
        <a href="https://twitter.com/Kii_Program">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div class="output">
        <%= link_to image_tag("favicon.png", class:"qiita_img"), "https://qiita.com/taiki-nd" %>
      </div>
      <div class="output">
        <a href="https://github.com/taiki-nd">
          <i class="fab fa-github-square"></i>
        </a>
      </div>
    </div>
    <div class="space"></div><div class="space"></div>
    </footer>

  </body>
</html>
